@model CECHarmonization.ViewModels.TaxonomiesViewModel
@using MvcCheckBoxList.Model
@{
    ViewBag.Title = "TaxonomyIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Select one or more Taxonomies</h2>


<section>
    <title>Vertical Checkbox List</title>
    <p>
        <label>Output:</label>
        @using (Html.BeginForm("TaxonomyPost", "Taxonomy", FormMethod.Get))
        {
            <div class="margin_bottom10">
                @Html.CheckBoxListFor(
                    x => x.PostedTaxonomies.TaxonomyIDs,
                    x => x.AvailableTaxonomies,
                    x => x.vid,
                    x => x.name,
                    x => x.SelectedTaxonomies,
                    Position.Vertical)
            </div>
            
            <input class="green" type="submit" value="Enter" />
        }
    </p>



